body, html {
    height: 100%;
    margin: 0;
}  

.direction {
    display: flex;
    flex-direction: row;
    gap: 1685px;
}

.back-button {
    border-color: rgb(11, 24, 47);
    border-width: 4px;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(242, 236, 208);
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px; 
    color: black;
    margin-top: 15px;
    margin-left: 20px;
}

.back-button:hover {
    background-color: rgb(221, 210, 167);
}

.back {
    color: rgb(93, 79, 26);
    font-size: 25px;
}

.main {
    display: flex;
    background-image: url("data-center-inside.webp");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    position: absolute;
    gap: 40px;
}

#quantum_main {
    display: flex;
    background-image: url("quantum_loophole.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    position: absolute;
    gap: 40px;
}

h1 {
    color: rgb(26, 50, 93);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 55px;
}

#title-container {
    border-color: rgb(11, 24, 47);
    border-width: 4px;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(201, 215, 238);
    width: fit-content;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    order: 0;
}

#title-container:hover {
    background-color: rgb(136, 164, 209);
}

#text-container {
    border-color: rgb(11, 24, 47);
    border-width: 4px;
    border-style: solid;
    background-color: rgb(239, 232, 216);
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 450px;
    margin-left: 450px;
    border-radius: 30px;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    margin-top: 50px;
}

.button-container {
    border-color: rgb(47, 25, 11);
    border-width: 4px;
    border-style: solid;
    border-radius: 70px;
    background-color: rgb(238, 213, 201);
    width: fit-content;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
}

.button-container:hover {
    background-color: rgb(240, 177, 148);;
}

h2 {
    color: rgb(93, 48, 26);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
}

p {
    color: rgb(93, 48, 26);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 38px;
}

ul {
    color: rgb(93, 48, 26);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 33px;
}

#electricity{
    border-color: rgb(47, 31, 11);
    border-width: 4px;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(238, 232, 201);
    width: 600px;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    order: 2;
    margin-left: 75px;
}

#water {
    border-color: rgb(47, 31, 11);
    border-width: 4px;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(238, 232, 201);
    width: 800px;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    order: 3;
    margin-left: 530px;
}

#sound {
    border-color: rgb(47, 31, 11);
    border-width: 4px;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(238, 232, 201);
    width: 650px;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
    order: 3;
    margin-left: 1140px;
}

audio {
    margin-left: auto;
    margin-right: auto;
    margin-top:1px;
    margin-bottom: 1px;;
}
